<div class="postCard">
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
            <div class="background"></div>
            <img src="//images.weserv.nl/?url={{site.url}}/{{ post.image }}&w=500&h=400&output=jpg&q=50&&fit=cover"
                alt="{{ filename }}" />
            <h3 class="postTitle">{{post.title}}</h3>
            <div class="postDescription">{{ post.date | date: "%b %-d, %Y" }}</div>
        </a>
    </li>

    {% endfor %}


</div>